<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><strong>WatchFull</strong></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/catalogue">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/addItem" *ngIf="add" routerLink="/addItem">Add Product</a>
        </li>
      </ul>
    </div>

    <div class="cart">
      <a class="nav-link active" routerLink="/cart">Cart
        <span class="badge text-bg-secondary">{{totalCartItem}}</span>
      </a>
    </div>

    <div class="logout">
      <button type="button" class="badge bg-danger">
        <a class="nav-link active" (click)="logout()">Logout</a>
      </button>
    </div>

  </div>
</nav>
