.card {
  width: 40%;
  color: white;
  background-image: linear-gradient(to bottom right, rgb(88, 120, 163), rgb(154, 68, 175));
}

.profileDetailss .row {
  display: block;
  justify-content: center;
}
