.card {
  width: 40%;
  color: white;
  background-image: linear-gradient(to bottom right, rgb(163, 182, 207), rgb(121, 87, 129));
}

.profileDetailss .row {
  display: block;
  justify-content: center;
}
