* {
  box-sizing: border-box;
}

.card {
  border-radius: 15px;
  border: 1px inset black;
  background-color: rgba(255,255,255,.9);
}

img {
  height: 170px;
  border-radius: 14px 14px 0px 0px;
}

.products {
  overflow-x: hidden;
  background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url('/assets/images/Background.jpg');
}

.info {
  display: flex;
  justify-content: space-between;
}

.material-symbols-outlined {
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 991px) {
  .items {
    width: 33%;
  }
}
